body{
    margin: 0;
    padding: 0;
    height: 200vh;
}

.burger{
    position: fixed;
    top: 40px;
    right: 40px;
    font-size: 50px;
    z-index: 1;
    transition: .3s;
}

.wrapper{
    line-height: 200%;
    margin: 10px 70px;
}

nav{
    background-color: black;
    width: 100%;
    height: 300px;
    position: fixed;
    top: -300px;
    transition: .3s;
}

i.fas.show{
    display: block;
}

i.fas{
    display: none;
}

nav.show{
    top: 0px;
}

i.fas.fa-angle-up.show{
    color: white;
}

